.progress
  -slots.each do |slot|
    div
      / = slot.to_s
    .progress-bar.has-tooltip[data-toggle="tooltip" data-html="true" style="width: #{slot[:percent]}%" title=slot[:title] class=((slot[:worth].to_i != 1) ? 'progress-bar-warning progress-bar-striped active' : ((slot[:desc] != 'work') ? 'progress-bar-success' : ''))]
      small
        strong
          - if display_link
            = link_to slot[:time], tag_path(slot[:id], 'lunch'), method: :put
          - else
            = slot[:time]
