= form_for @slice do |f|
  - if @slice.errors.any?
    #error_explanation
      h2 = "#{pluralize(@slice.errors.count, "error")} prohibited this slice from being saved:"
      ul
        - @slice.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :time
    = f.text_field :time
  .field
    = f.label :user_hash
    = f.text_field :user_hash
  .field
    = f.label :desc
    = f.text_area :desc
  .field
    = f.label :worth
    = f.number_field :worth
  .actions = f.submit
