h1 Listing slices

table
  thead
    tr
      th Time
      th User hash
      th Desc
      th Worth
      th
      th
      th

  tbody
    - @slices.each do |slice|
      tr
        td = slice.time
        td = slice.user_hash
        td = slice.desc
        td = slice.worth
        td = link_to 'Show', slice
        td = link_to 'Edit', edit_slice_path(slice)
        td = link_to 'Destroy', slice, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Slice', new_slice_path
