p#notice = notice

p
  strong Time:
  = @slice.time
p
  strong User hash:
  = @slice.user_hash
p
  strong Desc:
  = @slice.desc
p
  strong Worth:
  = @slice.worth

= link_to 'Edit', edit_slice_path(@slice)
'  |
= link_to 'Back', slices_path
