h1
  | Week &nbsp;
  = @week_no

.meta
  = link_to "← #{ @week_no.to_i-1}", week_path(@user_hash, @week_no.to_i-1)
  = link_to "#{ @week_no.to_i+1} →", week_path(@user_hash, @week_no.to_i+1), class: 'pull-right'
br

- @week.each do |day|
  div
    strong = day[:date]
    strong.pull-right = day[:time]
  = render 'day', slots: day[:slots], display_link: @active_week

- if @active_week
  hr
  .row
    = link_to 'cut now', cut_path(@user_hash), class: 'col-sm-4 col-sm-offset-4 btn text-center btn-primary'
  hr

br
h3 = @week_time


